page-salida {
    .content{
        background-color: #f2f2f2;
    }
    .title {
        background-color: #00ace6;
        height: 100px;
        width: 100%;
        z-index: 0;
        position: absolute;
        button {
            background-color: transparent;
            position: absolute;
            top: 10px;
            color: white;
            font-size: 15px;
            width: 100%;
            height: 50px;
        }
    }
    .card {
        position: absolute;
        top:50px;
        width: 90%;
        margin: 5%;
        background-color: white;
        border-radius: 10px;
        z-index: 1;
        h3 {
            width: 100%;
        }
    }
    .item {
        background-color: transparent;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px !important;
        display: flex;
        flex-flow: row;
        p {
            color: black !important;
        }
    }

}
